.revolutionary{
    // display: flex;  
    // flex-direction: column;
    // align-items: center;

    margin: 0 10px;
    text-align: center;

        &__btns{
            display: flex;
            // flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 36px;
            align-items: center;
            flex-direction: column;
            width: 100%;
            margin-bottom: 120px;
        }
        &__btns-top{
            display: flex;
            justify-content: center;
            
            width: 100%;
            margin-bottom: 20px;
            // align-items: center;
            

        }
        &__btns-bottom{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &__title{
            color: #635C73;
            font-weight: bold;
            font-size: 26px;
            line-height: 28px;
            margin-bottom: 30px;
        }
        &__subtitle{
            color: #323232;
            font-size: 14px;
            line-height: 20px;
            font-family: Lato;
            margin-bottom: 30px;
            text-align: center;
        }
        &__description{
            margin-bottom: 67px;
        }
}

.btn__item{
    display: flex;
    &-leftcontent{
        border: 1px solid rgba(27,31,35,.06);
    text-decoration: none;
    color: #000;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    line-height: 20px;
    padding: 3px 3px;
    box-sizing: border-box;
    background-color: rgba(27,31,35,0.06);
    display: flex;
    align-items: center;
    }
    &-number{
        border: 1px solid rgba(27,31,35,0.06);
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    padding: 3px 3px;
    /* font-size: 12px; */
    font-weight: bold;
    line-height: 20px;
    }
    &-position{
        margin-right: 10px;
    }
}

.benefits{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin: 0 10px;
    &__title{
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #8D81AC;
        text-align: center;
        margin-bottom: 36px;
        grid-area: item2;
    }
    &__img{
        // position: absolute;
        // bottom: 0;
        background-image: url('../images/editor 3.png');
        min-width: 100vw;
        min-height: 100vw;
        background-repeat: no-repeat;
        // background-size: 100%;
        background-size: COVER;
        grid-area: item3;
    }
    
}

.benefit{
    &__items{
        grid-area: item1;
    }
    &__item{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    &__img-wrapper{
        width: 80px;

    }
    &__img{
        margin-bottom: 27px;
    }
    &__title{
        font-size: 16px;
        line-height: 16px;
        color: #323232;
        margin-bottom: 14px;
    }
    &__text{
        font-family: Lato;
        font-size: 14px;
        line-height: 21px;
        color: #848E97;
        margin-bottom: 40px;
    }
    // &__item:nth-last-child(3){
    //     margin-bottom: 400px;
    // }
}


@media screen and (min-width: 481px){
    .revolutionary{
        &__btns{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
        &__btns-top{
            align-items: center;
            margin-bottom: 0;
            width: fit-content;
        }
    }
    .btn__item{
        margin-right: 20px;
    }
    .btn__item-position{
        margin: 0;
    }
    .benefit{
        &__item{
            display: grid;
            grid-template-columns: 25% 74% ;
            column-gap: 1%;
        }
        &__content{
            text-align: start;
        }
    }
}
@media screen and (min-width: 768px){
    .grid-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas: 
        "item1 item2"
        "item1 item3"
        "item1 item3"
        "item1 item3"
        "item1 item3"
        "item1 item3"
        "item1 item3"
        "item1 item3"
        "item1 item3";
    }
    .benefits{
        &__img{
            background-image: url('../images/editor 2.png');
            min-width: 30vw;
            min-height: 30vw;
        }
    }
    .benefit{
        &__item{
            column-gap: 2%;
            margin-bottom: 55px;
        }
    }
}

