.button{
    border: none;
    border-radius: 40px;
    background: none;
    color: white;                      /*Записать цвета в переменную*/
    background-color: #8D81AC;
    // padding: 11px 30px;
    font-weight: bold;
    cursor: pointer;
}