// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
// body{
//     font-family: 'Montserrat', sans-serif;
// }

.body {
    overflow: hidden;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #27262a;
    padding: 30px 0 30px 0px;
    position: relative;
}
.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.header__logo {
    margin-left: 16px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
    line-height: 16px;
    color: #8d81ac;
}

.header__logo:hover {
    color: white;
}
.header__logo-img:hover {
    background-image: url("../images/logo-hover 1.svg");
}

// .header__button{
//     border: none;
//     border-radius: 40px;
//     background: none;
//     color: white;                      /*Записать цвета в переменную*/
//     background-color: #8D81AC;
//     padding: 11px 30px;
//     font-weight: bold;
//     cursor: pointer;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 15px;
//     line-height: 15px;

// }

.header__buy-button {
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    padding: 10px 25px;
}

.header__burger-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 16px;
}
.header__burger-menu span,
.header__burger-menu::before,
.header__burger-menu::after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    transition: all 0.3 ease 0s;
    background-color: #fff;
    border-radius: 20px;
}
.header__burger-menu::before,
.header__burger-menu::after {
    content: "";
}
.header__burger-menu::before {
    left: 25%;
    width: 75%;
    top: 0;
}
.header__burger-menu::after {
    bottom: 0;
}
.header__burger-menu span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
}

.tablet__nav {
    display: none;
}
.forkio-tablet-span {
    display: none;
    margin-left: 17px;
}
.desctop__menu {
    display: none;
}

// @media screen and (min-width: 320px) {
.mobile__nav {
    position: absolute;
    background-color: #333333;
    top: 105%;
    left: 5%;
    z-index: 10;
    min-width: 90%;
    display: none;
}
.mobile {
    &__menu-item {
        border-bottom: 1px solid grey;
        position: relative;
        padding: 29px 46vw 29px 29px;
    }

    &__menu-link {
        text-decoration: none;
        color: white;
        
    }
    
    
    &__menu-link::before {
        content: "";
        background: #8D81AC;
        width: 8px;
        height: 53px;
        left: 10px;
        top: 10px;
        position: absolute;
        visibility: hidden;
    }



    &__menu-item:active &__menu-link::before {
        visibility: visible;
      }
    
      &__menu-item:active &__menu-link {
        color: #8D81AC;
      }

    // &__menu-item:active &__menu-item::before {
    //     visibility: visible;
    // }
}


.activeToggle {
    display: block;
}

// }

@media screen and (min-width: 481px) {
    .tablet__nav {
        display: flex;
        // width: 517px;
        margin: 0 auto;
        justify-content: center;
    }
    .forkio-tablet-span {
        display: block;
    }
    .header {
        display: block;
        &__burger-menu {
            display: none;
        }
    }
    .tablet__menu {
        display: flex;
        justify-content: space-between;
        // width: 517px;
        // margin-left: 13%;
        // margin-right: 13%;
        align-items: center;
        color: #8d81ac;

        &-item {
            position: relative;
            padding: 0 15px;
        }
        &item::before {
            content: "";
            position: absolute;
            background-color: #8d81ac;
        }
    }
    .mobile__nav {
        display: none;
    }
    .header__buy-button {
        margin-right: 20px;
    }
    .header__top {
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 768px) {
    .desctop__menu {
        display: flex;
        width: 450px;
        justify-content: space-between;
        color: #8d81ac;
        margin-right: 25px;
    }
    .tablet__menu {
        display: none;
    }
    .header-desctop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .header__top {
        margin-bottom: 0px;
    }
}
/* //////MAIN////// */

.fork {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/laptop.png);
    background-position: center;
    padding-top: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 45px;
    &__title {
        color: white;
        // font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        margin-bottom: 20px;
    }
    &__description {
        align-items: center;
        text-align: center;
        color: #8d81ac;
        // font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 15px;
        padding-left: 35px;
        padding-right: 35px;
    }
    &__subtitle {
        color: #848e97;
        font-family: inherit;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 395px;
    }
    &__button {
        padding: 13px 29px;
        font-size: 22px;
        line-height: 20px;
        position: absolute;
        bottom: -4%;
    }
    &__ {
        padding: 1px;
    }
}
// .fork__title{
//     color: white;
//     font-family: Montserrat;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 48px;
//     line-height: 48px;
//     margin-bottom: 20px;
// }
