.container{
    margin: 0 auto;
    max-width: 1200px;
    // width: 280px;
}

// @media screen and (min-width: 768px) {
//     .container{
//         // width: 704px;
//     }
// }
// @media screen and (min-width: 1200px) {
//     .container{
//         max-width: 1200px;
//     }
// }

