@import "_reset.scss";
@import "./variables";
@import "./header/index";
@import "./main/index";
@import "./components/__buttons";
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700&display=swap');
body{
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
}